.month-filter {
  label {
    padding: 0 10px;
  }

  button {
    background-color: #fbf6ec;
    border: 2px solid #d8950d;
    border-radius: 2px;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
    line-height: 1rem;
    margin-left: 10px;
  }

  button,
  select {
    height: 30px;
  }
}
